<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 제목태그-->
    <h1>
        IndexPage
    </h1>
    <!-- 글목록 태그-->
    <p>
        취재를 종합하면 부산대학교 의과대학 비상시국 정책대응위원회는 사회관계망서비스(SNS)를 통해 이날부터 동맹휴학 및 수업과 실습 거부를 시작한다. 위원회에 따르면 부산대 소속 의대생 590명 중 582명(98.6%)가 휴학을 신청했다. 위원회는 입장문에서 “현 정책이 강행된다면 저희가 맞이할 미래의 대한민국 의료는 필연적인 붕괴를 맞이하며, 이는 고스란히 미래의 환자들에게 돌아갈 것”이라며 “의료와 의학교육에 대한 이해 및 과학적인 근거 없이 국민과 의료에 대한 기만뿐인 현 정부의 정책은 암울하고 참담하기만 하다”고 밝혔다.

동아대 의대 학생들 역시 동맹휴학에 동참할 것으로 보인다. 동아대 의과대학 비상대책위원회는 지난 17일 동맹휴학 참여 여부에 대한 투표를 진행, 참여한 294명 모두가 찬성했다고 발표했다. 이에 따라 이날부터 동아대 의대생들도 수업 거부 등의 행동에 나설 예정이다. 반면, 고신대 의과대학은 현재까지 휴학계를 제출한 학생이 없다고 밝혔다.

이번 동행휴학을 결의한 학교는 전국 40곳 의대 중 35곳으로 알려졌다. 이들 학교의 대표자들은 정부의 의대 증원 방침에 반발해 지난 15, 16일 회의를 거쳐 동맹휴학을 결의했다. 이에 대응해 교육당국은 비상대응 체제에 돌입했다. 교육부는 지난 16일 의대 운영 중인 40개교의 교무처장들과 함께 긴급회의를 개최, 동맹휴학에 대비한 철저한 학사 관리를 요청했다.

의대생들의 ‘동맹’ 휴학 대상은 이날부터 진료 중단에 나선 전공의들이다. 전공의들은 지난 19일 개별적으로 대거 사직서를 냈으며, 상당수가 병원에 출근하지 않았다. 이를 두고 전국보건의료산업노조는 지난 19일 각 병원에 대국민 호소문을 부착하고 전공의들이 현장에 복귀해야 한다고 주장했다. 노조는 “벌써부터 예약된 수술이 취소되거나 연기되고, 입원날짜가 미뤄지는 사례가 생겨나고 있다. 오랫동안 수술과 입원을 기다려온 환자와 가족들이 발을 동동 구르고 있다. 당장 치료를 받아야 할 환자들은 어디 가서 치료받을 수 있을지 걱정이 태산이다”고 우려를 드러냈다. 이들은 또 의대 정원을 늘려 더 많은 의사를 양성해 필수·지역의료 붕괴를 막아야 하며, 설사 집단행동을 하더라도 응급실, 수술실, 중환자실 등 필수업무는 반드시 유지해야 한다“고 전했다.
    </p>
    <!--하이퍼링크-->
    <a href="http://www.google.com">google</a>
    <a href="/second">second page로 이동</a>
</body>
</html>